input{
  height:45px;
  width:300px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 12px;
}

button{
  height: 45px;
  width: 130px;
  padding: 10px;
  border-radius: 12px;
  background-color: rgb(53, 172, 67);
  border: 1px solid rgb(3, 79, 11);
  color: rgb(11, 2, 2);
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
p{
  color: rgb(153, 19, 224);
}

center{
  margin: 100px;
}
